// --------------------------------------------------
// COLORS
// --------------------------------------------------
$white:                         #FFF;
$black:                         #000;
$royal-purple:                  #833A64;
$torch-red:                     #FD1D1D;
$yellow-orange:                 #FCB045;

// --------------------------------------------------
// COLORS END
// --------------------------------------------------

// --------------------------------------------------
// FONTS
// --------------------------------------------------
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-semi-bold:         600;
$font-weight-bold:              700;
$font-weight-extra-bold:        900;

$font-family-default: "Montserrat", sans-serif;
// --------------------------------------------------
// FONTS END
// --------------------------------------------------
