.slider {
  &__slide {
    align-items: stretch;
  }

  &__description {
    height: 50px;
    margin-bottom: 20px;
  }

  &__input {
    width: 300px;
    max-width: 90%;
    height: 70%;
    margin: auto;
  }

  &__button {
    height: 30%;
  }

  &__avatar {
    margin: 20px auto;
  }

  &__image {
    height: 100% !important;
  }
}

ion-slides {
  height: 90%;
}
