@import '../../styles/config/variables';

.account {
  &__avatar-box {
    width: 300px;
    max-width: 90%;
    height: 100px;
    margin: auto;
  }

  &__avatar {
    margin: 20px auto;
    border: solid 2px $white;
  }

  &__image {
    height: 100% !important;
  }

  &__title {
    justify-content: center;
    margin: 20px auto;
    font-weight: 700;
  }

  &__input-box {
    margin-bottom: 20px;
  }

  &__update-button {
    justify-content: center;
    margin-top: 30px;
  }
}
