:root {
  --charcoal: #FFF4F3;
}

.loading-page {
  &__container {
    --background: var(--charcoal, #216999);
  }
  &__grid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
  }

  &__spinner {
    align-self: center;
  }
}
